.body {
background-color:#FFFF;
color:black;
}
.nav-link b{
    color:black;
    font-weight: 600;
}
.navbar-f{
    position:fixed;
    width:100%;
    background-color:white;
    display:block;
    padding: 8px;
    flex-wrap: wrap;
}
.nav {
    display: flex;
    justify-content: center;
    gap: 14px;
  }
.judulCollectionStyle 
{
    text-align: left;
    margin-top: 16px;
    width: 100%;
}
.h1 {
    font-size: clamp(40px, 5vw, 80px);
    color: #000000;
  }
@font-face{
    font-family:"Inter";
    src:url('Fontportfolio/InterInter-Regular')
}
.font-1{
    font-family:"Inter";
    font-size: 20px;
    margin-top: 14px;
    color: black;
}
.Container-AboutMe{
    margin-left:50px;
}
.jarak-tombol{
    margin-right: 45px;
}
.jarak-tombol-1{
    margin-left: 20px;
    margin-top: 14px;
}
.jarak-tombol-2{
    margin-left: 25px;
    margin-top: 14px;
}
.text-aje{
    font-family:"Inter";
    font-size:14px;
    color:black;
}
.text-pozizi{
    margin-top:10px;
    margin-left: 50px;
    flex: auto;
}
.text-aje-2{
    font-family:"Inter";
    font-size:10px;
    color:black;
}
.About-Me-Danillo{
    font-family: "Inter";
    font-size: 8vw;
    color:black;
}
.PotraitDiri img{
    position:relative;
}
.fotodiri {
    display: block;
    width: auto;
    height: auto;
    text-align: right;
}
.text-subhed{
    font-family: "Inter";
    font-size: 24px;
    color: black;
}
.paragraf-text{
    width: 48%;
}
.Container-Sonoan{
    margin-left: 50px;
}
.Container-Sonoan-2{
    margin-left: 75px;
}
.align-left{
    text-align:left;
}
.naikan-dikit{
    margin-top:-10px;
}
.a-link{
    color:#000000;
    text-decoration-line: none;
    text-decoration-color: red;
}
.Container-Dikit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.imageabs{
    max-width: 100%;
    justify-content: center;
    height: auto;
    width: auto;
    margin: auto;
}
.Others-bg{
    background:url("doge-shiba-inu.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.Others-Txt{
    font-family: "Inter";
    font-size: 90px;
    color:white;
}
.text-subhed-o{
    font-family: "Inter";
    font-size: 24px;
    color: white;
}
.text-aje-3{
    font-family:"Inter";
    font-size:10px;
    color:white;
}
.text-aje-w{
    font-family:"Inter";
    font-size:14px;
    color:white;
    background-color:black;
}
.Container-Dikit2{
    display: block;
  text-align: center;
  width: 100%;
  display: flex;
}
.text-aje-w2{
    font-family:"Inter";
    font-size:8px;
    color:black;
}
.hrs{
    border-color: white;
    border-width:medium;
}
.Container-Sonoan-3
{
    margin-left: 130px;
    display: flex;
}

.kontener-Novo
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.kontener-Novo-2
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.kolom-Novo
{
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;
    text-align: center;
}
.kolom-Novo-2 
{
    flex: 1 1 calc(50% - 10px);
    box-sizing: border-box;
    text-align: center;
    gap: 16px;
}
.kolom-Img-Novo
{
    max-width: 100%;
    height: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.kolom-P
{
    margin: 10px 0 0;
    line-height: 1.5;
}
.center {
 text-align: center;
 border: 3px;
 margin: auto;
}
.text-centerz
{
    margin: auto;
    text-align: center;
    width: 80%;
    border: 3px;
    padding: 10px;
}
.video-container 
{
    display: flex;
    gap: 20px; 
    justify-content: center; 
    flex-wrap: wrap;
}

.video-column 
{
    flex: 1; 
    max-width: 500px;
    text-align: center;
}
.responsive-gif 
{
    max-width: 100%;
    height: auto;
  }
 .images-Row 
 {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.responsive-img
{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
    .kontener-Novo img {
        max-width: 100%;
        height: auto;
    }
    .kolom-Novo {
        flex: 1 1 100%; 
    }
}